body {
    background-color: white;
    color: black;
}

h1, h2, h3{
    font-family: Verdana;
    text-align: center;
}

p {
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 15px;
    
}


body{
text-align: center;
}

h1{
    font-size: 32px;
}

figure {
    float: right;
}

figcaption{
    font-style: italic;

}

table{
    margin: auto;
    border: 1px solid black;
}

th, td {
 border: 1px solid black;
}

ol{
    list-style-position: inside;
}

ul{
    list-style-position: inside;
    list-style-type: circle;
}

.text1 {
    text-align: left;
}

.text_2 {
    text-align: right;
    float: right;
}

.economy {
    text-align: center;
}

.burn {
    float: right;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.list_towns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}